body {
    background-color: #0F1020;
    font: normal 15pt Arial;
}

header {
    color: #EFC3F5;
    text-align: center;
}
section {
    background-color: #EFC3F5;
    width: 500px;   
    margin: auto;
    padding: 10pt;
    border-radius: 20pt;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.500);
    text-align: center;
    grid: 20pt;
}

#band-name{
    width: 130pt;
    border-radius: 5pt;
    font-size: 14pt;
}

#music-name {
    width: 200pt;
    border-radius: 5pt;
    font-size: 14pt;
}

#search-button {
    border-radius: 20pt;
    width: 400px;
    color: #0F1020;
    background-color: #e5acee;
    font-size: 14pt;
}

footer {
    text-align: center;
    color: #2c1e2e;
}